<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--Advance.Framework-->
  <assembly name="Advance.Framework" />
  <namespace name="Advance.Framework.Interfaces.Contexts" />

  <!--Advance.Framework.Contexts.EntityFramework-->
  <assembly name="Advance.Framework.Contexts.EntityFramework" />
  <namespace name="Advance.Framework.Contexts.EntityFramework.Wrappers" />

  <!--Advance.Framework.Mappers-->
  <assembly name="Advance.Framework.Mappers" />
  <namespace name="Advance.Framework.Mappers.Interfaces" />

  <!--Advance.Framework.Mappers.AutoMapper-->
  <assembly name="Advance.Framework.Mappers.AutoMapper" />
  <namespace name="Advance.Framework.Mappers.AutoMapper" />

  <!--Advance.Framework.Repositories-->
  <assembly name="Advance.Framework.Repositories" />
  <namespace name="Advance.Framework.Repositories" />
  <namespace name="Advance.Framework.Repositories.Interfaces" />

  <!--Kendo-->
  <assembly name="Kendo" />
  <namespace name="Kendo.Interfaces.Repositories" />
  <namespace name="Kendo.Repositories" />

  <!--Kendo.Contexts.EntityFramework-->
  <assembly name="Kendo.Contexts.EntityFramework" />
  <namespace name="Kendo.Contexts.EntityFramework" />

  <!--Kendo.Modules.Tournaments-->
  <assembly name="Kendo.Modules.Tournaments" />
  <namespace name="Kendo.Modules.Tournaments.Interfaces.Repositories" />
  <namespace name="Kendo.Modules.Tournaments.Interfaces.Services" />
  <namespace name="Kendo.Modules.Tournaments.Repositories" />
  <namespace name="Kendo.Modules.Tournaments.Services" />

  <container>
    <register type="IUnitOfWork" mapTo="UnitOfWork" />
    <register type="IContextWrapper" mapTo="DbContextWrapper`1[Context]" />

    <register type="IMapper" mapTo="AutoMapperMapper">
      <lifetime type="singleton" />
    </register>

    <register type="ITournamentService" mapTo="TournamentService">
      <lifetime type="singleton" />
    </register>

    <register type="ITournamentRepository" mapTo="TournamentRepository" />
    <register type="IDivisionRepository" mapTo="DivisionRepository" />
    <register type="IRegistrantRepository" mapTo="RegistrantRepository" />
    <register type="IRegistrationRepository" mapTo="RegistrationRepository" />
    <register type="IClubRepository" mapTo="ClubRepository" />
  </container>
</unity>
