<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--Advance.Framework-->
  <alias alias="IUnitOfWork" type="Advance.Framework.Interfaces.Repositories.IUnitOfWork, Advance.Framework" />
  <alias alias="IContextWrapper" type="Advance.Framework.Interfaces.Contexts.IContextWrapper, Advance.Framework" />
  <alias alias="IMapper" type="Advance.Framework.Interfaces.Mappers.IMapper, Advance.Framework" />

  <!--Kendo.Modules.Tournaments-->
  <alias alias="ITournamentService" type="Kendo.Modules.Tournaments.Interfaces.Services.ITournamentService, Kendo.Modules.Tournaments" />
  <alias alias="ITournamentRepository" type="Kendo.Modules.Tournaments.Interfaces.Repositories.ITournamentRepository, Kendo.Modules.Tournaments" />
  <alias alias="IDivisionRepository" type="Kendo.Modules.Tournaments.Interfaces.Repositories.IDivisionRepository, Kendo.Modules.Tournaments" />
  <alias alias="IRegistrantRepository" type="Kendo.Modules.Tournaments.Interfaces.Repositories.IRegistrantRepository, Kendo.Modules.Tournaments" />
  <alias alias="IRegistrationRepository" type="Kendo.Modules.Tournaments.Interfaces.Repositories.IRegistrationRepository, Kendo.Modules.Tournaments" />

  <!--Kendo-->
  <alias alias="IClubRepository" type="Kendo.Interfaces.Repositories.IClubRepository, Kendo" />

  <container>

    <!--Advance.Framework-->
    <register type="IUnitOfWork" mapTo="Advance.Framework.Repositories.UnitOfWork, Advance.Framework.Repositories" />
    <register type="IContextWrapper" mapTo="Advance.Framework.Contexts.EntityFramework.Wrappers.DbContextWrapper`1[[Kendo.Contexts.EntityFramework.Context, Kendo.Contexts.EntityFramework]], Advance.Framework.Contexts.EntityFramework" />
    <register type="IMapper" mapTo="Advance.Framework.Mappers.AutoMapper.AutoMapperMapper, Advance.Framework.Mappers.AutoMapper" />

    <!--Kendo.Modules.Tournaments-->
    <register type="ITournamentService" mapTo="Kendo.Modules.Tournaments.Services.TournamentService, Kendo.Modules.Tournaments" />
    <register type="ITournamentRepository" mapTo="Kendo.Modules.Tournaments.Repositories.TournamentRepository, Kendo.Modules.Tournaments" />
    <register type="IDivisionRepository" mapTo="Kendo.Modules.Tournaments.Repositories.DivisionRepository, Kendo.Modules.Tournaments" />
    <register type="IRegistrantRepository" mapTo="Kendo.Modules.Tournaments.Repositories.RegistrantRepository, Kendo.Modules.Tournaments" />
    <register type="IRegistrationRepository" mapTo="Kendo.Modules.Tournaments.Repositories.RegistrationRepository, Kendo.Modules.Tournaments" />

    <!--Kendo-->
    <register type="IClubRepository" mapTo="Kendo.Repositories.ClubRepository, Kendo" />
  </container>
</unity>
