@model Kendo.Web.Ui.Mvc.Areas.Tournaments.Models.EditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_Registration", Model.Registration)

    <input type="submit" value="Submit" />
}
