@model Kendo.Web.Ui.Mvc.Areas.Tournaments.Models.GetDetailViewModel

@{
    ViewBag.Title = "GetDetail";
}

<h2>GetDetail</h2>

@Html.ActionLink("Register", Model.Actions.Register, new { id = Model.TournamentId })
