@model Kendo.Web.Ui.Mvc.Areas.Tournaments.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="submit" value="Submit" />
}
